@use '../../styles/colors.scss';

@mixin center-flex($valign: center, $halign: center) {
    display: flex;
    align-items: $valign;
    justify-content: $halign;
}

.daysWrapper {
    @include center-flex( $halign: space-between );
    flex-direction: row;
    width: 280px;
    .circle {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: none;
        color: colors.$neutral-01;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 3px 5px colors.$shadow-01;
        }
    }
    .inactive {
        background-color: colors.$inactive-02;
        font-weight: normal;
    }
    
    .selected {
        background-color: colors.$inactive-01;
        font-weight: normal;
    }
    
    .active {
        background-color: colors.$primary-01;
        font-weight: bold;
    }
}


