//Primary colors
$primary-01: #0076FF;

//Secondary colors
$secondary-01: #15D615;

//inactive colors
$inactive-01: #848282;
$inactive-02: #F0F0F0;

//Neutral
$neutral-01: #FFFFFF;

//shadow colors
$shadow-01: rgba(0, 0, 0, 0.3);