body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 10vw;
  min-height: 100vh;
  border: solid 2px red;
  font-family: Helvetica, sans-serif, arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


