@use '../../styles/colors.scss';

.barWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 3rem;
    border-radius: 20px;
    background-color: colors.$neutral-01;
    box-shadow: 0 5px 10px colors.$shadow-01;
    padding: {
        left: 3rem;
        right: 3rem;
    }
    margin: {
        top: 0.5rem;
        bottom: 0.5rem;
    }
    .editButtonWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}
